body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Schoolbell', arial, serif; 
}

a{
  font-size: 2em;
  color: black
}

turbo-frame{
  width: 100%;
  display: flex;
  justify-content: center;
}

#quotes{ width: 100%}

.container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: solid black 2px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid black;
}

.btn{
  background-color: white; /* Green */
  border: 2px solid black;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.quote{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  width: 95%;
  border: 2px solid black;
  margin: 3px; 
  padding: 5px; 
}

.quote_actions{
  display:flex;
  justify-content: space-between;
  width:20%;

}
